<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>photo-index</title>
</head>

<body class="bg-info-subtle">
	<div class="min-vh-100">

		<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active fw-bold me-3" aria-current="page" th:href="@{/photos}">
								<h4>
									Photo Archive
								</h4>
							</a>
						</li>
						<li class="nav-item dropdown mt-2">
							<a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								<h6>
									<em>
										Welcome, <span th:text="${username}"></span>!
									</em>
								</h6>
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/photos}">photos List</a></li>
								<li><a class="dropdown-item" href="#">Logout</a></li>
							</ul>



						</li>

					</ul>
					<form class="d-flex" action="/photos/search" method="get" role="search">
						<input class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
							name="title">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		<div class=" container d-flex align-items-center justify-content-center min-vh-100">

			<div class="row mb-5">
				<div th:each="category : ${categories}" class="col-4 mb-5">
					<div class=" position-relative bg-success text-light fw-bold p-2 rounded shadow  fs-3 w-50">
						<span class="" th:text="${category.name}"></span>
						<form th:action="@{'/categories/delete/' + ${category.id}}" method="POST">
							<button class="position-absolute btn-delete bg-danger rounded text-light" type="submit">
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>

					</div>


				</div>
				<div class="col-12">
					<div class="row">
						<div class="col-6">
							<div class="card">
								<div class="card-header">
									<span class="fw-bold fs-3"> Create new category </span>
								</div>
								<div class="card-body">
									<form th:action="@{/categories}" method="post">
										<div class="mb-3">
											<label for="name" class="form-label">New Category Name</label>
											<input type="text" class="form-control" name="name" required>
										</div>

										<button type="submit" class="btn btn-primary">Create</button>
										<button type="reset" class="btn btn-warning">Reset</button>
									</form>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>


		</div>

	</div>
	</div>

	<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>

</html>